export GIT_COMMITTER_EMAIL=32617+amiorin@users.noreply.github.com
export GIT_COMMITTER_NAME="Alberto Miorin"
export GIT_AUTHOR_EMAIL=32617+amiorin@users.noreply.github.com
export GIT_AUTHOR_NAME="Alberto Miorin"
