{:alpha {:big-config.aero/foo [:big-config.aero/join
                               :big-config.aero/bar]
         :big-config.aero/bar [:big-config.aero/join
                               :big-config.aero/foo]}}
